# Auto detect text files and perform LF normalization
* text=auto
*.css linguist-language=Java
*.php linguist-detectable=false  
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.xml linguist-detectable=false
