<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kreiranje CV</title>

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="HOSST Kreiranje CV">
    <meta itemprop="description" content="Kreirajte Vas CV">
    <meta itemprop="image" content="./images/ugostitelj.jpeg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://cvzaugostitelje.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kreiraj CV - Ugostitelji">
    <meta property="og:description" content="Kreirajte Vas CV">
    <meta property="og:image" content="./images/ugostitelj.jpeg">

    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext"
          rel="stylesheet">
    <link href="./font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- colorpicker: Spectrum plugin -->
    <link href="./js/spectrum/spectrum.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap datetimepicker -->
    <link href="./js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="./js/jquery-ui/css/core.css" rel="stylesheet" type="text/css">
    <!-- Slider -->
    <link href="./js/jquery-ui/css/slider.css" rel="stylesheet" type="text/css">
    <!-- Autocomplete -->
    <link href="./js/jquery-ui/css/menu.css" rel="stylesheet" type="text/css">
    <link href="./js/jquery-ui/css/autocomplete.css" rel="stylesheet" type="text/css">
    <link href="./css/forms-plus.css" rel="stylesheet" type="text/css">
    <!-- Color style: remove or change to change coloring -->
    <link href="./css/color/forms-plus-extra2color2.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for background (<1-6>.jpg), remove if not needed -->
    <link href="./css/custom-styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">        
        function readURL(input) {
      	  if (input.files && input.files[0]) {
      	    var reader = new FileReader();
      	    
      	    reader.onload = function(e) {
      	      $('#blah').attr('src', e.target.result);
      	    }
      	    document.getElementById('slika').style.display = 'block';
      	    reader.readAsDataURL(input.files[0]); // convert to base64 string
      	  }
      	}

      	$("#fileupload1").change(function() {
      	  readURL(this);
      	});
    </script>

    <form enctype="multipart/form-data" class="roundDark-p-form p-form-roundDark-extra2color2" th:object="${person}"
          method="post" th:action="@{/person-save}" data-js-validate="true" data-js-highlight-state-msg="true"
          data-js-show-valid-msg="true">
        <div class="p-form p-shadowed p-form-md" style="border-radius: 40px;">
            <!-- Start: title -->
            <div class="row" style="text-align: center">
                <div style="align-items:center;">
                    <img alt="loading..." align="middle" style="width:60%"
                         src="#">
                </div>

                <div style="align-items:center;" class="p-title">
                    <p class="title-size" style="align-items:center;margin-top: 60px;font-size: 32px;">CV
                        <i class="fa fa-pencil-square-o"></i></p>
                </div>
            </div>
            <!-- End: title -->

            <!-- Start: input Image  -->
            <div id="slika" style="display:none;">
                <div style="display: flex;justify-content: center;">
                    <img style="display: flex; justify-content: center; align-items: center; width:100%; max-width: 150px;" id="blah" src="#" alt=""/>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="p-file-wrap">
                            <input onchange="readURL(this);" type="file" id="fileupload1" name="file" required="required">
                            <div class="input-group">
                                <span>
                                    <button style="width: 100%;" type="button" class="btn">Izaberite sliku</button>
                                </span>
                                <span class="input-group-state">
                                    <span class="p-position">
                                        <span class="p-text">
                                            <span class="p-required-text"><i class="fa fa-star"></i></span>
                                            <span class="p-valid-text"><i class="fa fa-check"></i></span>
                                            <span class="p-error-text"><i class="fa fa-times"></i></span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End: input Image  -->

            <div data-js-block="formBlockName">
                <div class="row">
                    <!-- Start: name  -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group  p-has-icon">
                                <input th:field="*{firstName}" type="text" placeholder="Ime" required="required" class="form-control"/>
                                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="fa fa-times p-error-text"/>
                                <span class="input-group-state">
                                    <span class="p-position">
                                        <span class="p-text">
                                            <span class="p-required-text"><i class="fa fa-star"></i></span>
                                        </span>
                                    </span>
                                </span>
                                <span class="p-field-cb"></span>
                                <span class="input-group-icon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- End: name  -->
                    <!-- Start: name  -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group  p-has-icon">
                                <input th:field="*{lastName}" type="text" placeholder="Prezime" required="required" class="form-control"/>
                                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="fa fa-times p-error-text"/>
                                <span class="input-group-state">
                                            <span class="p-position">
                                                <span class="p-text">
                                                    <span class="p-required-text"><i class="fa fa-star"></i></span>
                                                </span>
                                            </span>
                                        </span>
                                <span class="p-field-cb"></span>
                                <span class="input-group-icon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <!-- End: name  -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- Start: dateBirth  -->
                        <div class="form-group">
                            <div class="input-group  p-has-icon">
                                <input th:field="*{dateOfBirth}" type="text"
                                       placeholder="Datum rođenja" required="required" data-js-datetimepick="true"
                                       data-js-max-date="today" data-date-format="DD.MM.YYYY" class="form-control"
                                       aria-required="true"/>
                                <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                                   class="fa fa-times p-error-text"/>
                                <span class="input-group-state">
                                    <span class="p-position">
                                        <span class="p-text">
                                            <span class="p-required-text"><i class="fa fa-star"></i></span>
                                        </span>
                                    </span>
                                </span>
                                <span class="p-field-cb"></span>
                                <span class="input-group-icon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <!-- End: dateBirth  -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Start: city  -->
                        <div class="form-group">
                            <div class="input-group  p-has-icon">
                                <input th:field="*{city}" type="text" placeholder="Grad"
                                       required="required" class="form-control" aria-required="true"/>
                                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
                                   class="fa fa-times p-error-text"/>
                                <span class="input-group-state">
                                    <span class="p-position">
                                        <span class="p-text">
                                            <span class="p-required-text"><i class="fa fa-star"></i></span>
                                        </span>
                                    </span>
                                </span>
                                <span class="p-field-cb"></span>
                                <span class="input-group-icon"><i class="fa fa-home"></i></span>
                            </div>
                        </div>
                        <!-- End: city  -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- Start: address  -->
                        <div class="form-group">
                            <div class="input-group  p-has-icon">
                                <input th:field="*{citizenship}" type="text"
                                       placeholder="Državljanstvo" required="required" class="form-control"
                                       aria-required="true"/>
                                <p th:if="${#fields.hasErrors('citizenship')}" th:errors="*{citizenship}"
                                   class="fa fa-times p-error-text"/>
                                <span class="input-group-state">
                                    <span class="p-position">
                                        <span class="p-text">
                                            <span class="p-required-text"><i class="fa fa-star"></i></span>
                                        </span>
                                    </span>
                                </span>
                                <span class="p-field-cb"></span>
                                <span class="input-group-icon"><i class="fa fa-flag"></i></span>
                            </div>
                        </div>
                        <!-- End: address  -->
                    </div>
                    <div class="col-sm-6" style="display: block;">
                        <!-- Start: email  -->
                        <div class="form-group">
                            <div class="input-group  p-has-icon">
                                <input th:field="*{email}" type="email"
                                       placeholder="Unesite Vašu e-mail adresu" required="required" class="form-control"
                                       aria-required="true" aria-invalid="false"/>
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                   class="fa fa-times p-error-text"/>
                                <span class="input-group-state">
                                    <span class="p-position">
                                        <span class="p-text">
                                            <span class="p-required-text"><i class="fa fa-star"></i></span>
                                        </span>
                                    </span>
                                </span>
                                <span class="p-field-cb"></span>
                                <span class="input-group-icon"><i class="fa fa-envelope-o"></i></span>
                            </div>
                        </div>
                        <!-- End: email  -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Start: contactPhone  -->
                        <div class="form-group">
                            <div class="input-group  p-has-icon">
                                <input th:field="*{phoneNumber}" type="text"
                                       placeholder="Kontakt telefon" class="form-control" aria-required="true"
                                       required="required"/>
                                <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                   class="fa fa-times p-error-text"/>
                                <span class="input-group-state">
                                    <span class="p-position">
                                        <span class="p-text">
                                            <span class="p-required-text"><i class="fa fa-star"></i></span>
                                            <span class="p-valid-text"><i class="fa fa-check"></i></span>
                                            <span class="p-error-text"><i class="fa fa-times"></i></span>
                                        </span>
                                    </span>
                                </span>
                                <span class="p-field-cb"></span>
                                <span class="input-group-icon"><i class="fa fa-phone"></i></span>
                            </div>
                        </div>
                        <!-- End: contactPhone  -->
                    </div>
                </div>

                <!-- Start: occupation  -->

                <div class="form-group">
                    <label class="input-group  p-has-icon  p-custom-arrow">
                        <select th:field="*{occupation}" required="required" class="form-control" aria-required="true">
                            <option th:each="i : ${occupationList}"
                                    th:value="${i.id}"
                                    th:text="${i.name}">
                            </option>
                        </select>
                        <span class="input-group-state">
                            <span class="p-position">
                                <span class="p-text">
                                    <span class="p-required-text"><i class="fa fa-star"></i></span>
                                </span>
                            </span>
                        </span>
                        <span class="p-field-cb"></span>
                        <span class="p-select-arrow"><i class="fa fa-caret-down"></i></span>
                        <span class="input-group-icon"><i class="fa fa-user-secret"></i></span>
                    </label>
                </div>
                <!-- End: occupation  -->
                <!-- Start: work experience -->
                <div class="p-subtitle text-center">Radno iskustvo</div>
                	<span class="btn btn-sm" onclick="removeWorkExperience()"  style="display: none;" id="weMinus"><i class="fa fa-minus"></i> Ukloni radno iskustvo</span>
                	<br>
                	<span class="btn btn-sm" onclick="addWorkExperience()"><i class="fa fa-plus"></i> Dodaj radno iskustvo</span>
				<div id="WE">
                <div class="p-block" id="workExp-0">
                    <h4 style="display: flex; justify-content: center;">Unesite Vase radno iskustvo</h4>
                    <div class="form-group">
                        <div class="input-group  p-has-icon">
                            <input th:field="*{workExperienceList[0].companyName}" id="companyName" type="text" placeholder="Ime firme" class="form-control"/>
                            <p th:if="${#fields.hasErrors('workExperienceList[0].companyName')}"
                               th:errors="*{workExperienceList[0].companyName}" class="fa fa-times p-error-text"/>
                            <span class="input-group-state">
                                <span class="p-position">
                                    <span class="p-text">
                                        <span class="p-valid-text"><i class="fa fa-check"></i></span>
                                        <span class="p-error-text"><i class="fa fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="p-field-cb"></span>
                            <span class="input-group-icon"><i class="fa fa-briefcase"></i></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Start: schoolPassingYear  -->
                            <div class="form-group">
                                <div class="input-group  p-has-icon">
                                    <input th:field="*{workExperienceList[0].startDate}" id="companyStartDate" type="text" placeholder="Datum početka"
                                           data-date-format="DD.MM.YYYY" class="form-control"/>
                                    <p th:if="${#fields.hasErrors('workExperienceList[0].startDate')}"
                                       th:errors="*{workExperienceList[0].startDate}" class="fa fa-times p-error-text"/>
                                    <span class="input-group-state">
                                            <span class="p-position">
                                                <span class="p-text">
                                                    <span class="p-required-text"><i class="fa fa-star"></i></span>
                                                </span>
                                            </span>
                                        </span>
                                    <span class="p-field-cb"></span>
                                    <span class="input-group-icon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <!-- End: schoolPassingYear  -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Start: schoolPassingYear  -->
                            <div class="form-group">
                                <div class="input-group  p-has-icon">
                                    <input th:field="*{workExperienceList[0].endDate}" id="companyEndDate" type="text"
                                           placeholder="Datum završetka" data-date-format="DD.MM.YYYY"
                                           class="form-control"/>
                                    <p th:if="${#fields.hasErrors('workExperienceList[0].endDate')}"
                                       th:errors="*{workExperienceList[0].endDate}" class="fa fa-times p-error-text"/>
                                    <span class="input-group-state">
                                            <span class="p-position">
                                                <span class="p-text">
                                                    <span class="p-required-text"><i class="fa fa-star"></i></span>
                                                </span>
                                            </span>
                                        </span>
                                    <span class="p-field-cb"></span>
                                    <span class="input-group-icon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <!-- End: schoolPassingYear  -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group  p-has-icon">
                            <textarea placeholder="Opis radne pozicije" th:field="*{workExperienceList[0].description}" id="companyDescription" 
                                      class="form-control"></textarea>
                            <p th:if="${#fields.hasErrors('workExperienceList[0].description')}"
                               th:errors="*{workExperienceList[0].description}" class="fa fa-times p-error-text"/>
                            <span class="input-group-state">
                                    <span class="p-position">
                                        <span class="p-text">
                                            <span class="p-valid-text"><i class="fa fa-check"></i></span>
                                            <span class="p-error-text"><i class="fa fa-times"></i></span>
                                        </span>
                                    </span>
                                </span>
                            <span class="p-field-cb"></span>
                            <span class="input-group-icon"><i class="fa fa-file-text-o"></i></span>
                        </div>
                    </div>
                </div>
                <!-- Start: work experience -->
				</div>

                <div class="p-subtitle text-center">Obrazovanje</div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- Start: schoolName  -->
                        <div class="form-group">
                            <div class="input-group  p-has-icon">
                                <input th:field="*{education.schoolName}" type="text" id="school-name" name="schoolName"
                                       placeholder="Ime škole" class="form-control" aria-required="true"/>
                                <p th:if="${#fields.hasErrors('education.schoolName')}"
                                   th:errors="*{education.schoolName}" class="fa fa-times p-error-text"/>
                                <span class="p-field-cb"></span>
                                <span class="input-group-icon"><i class="fa fa-university"></i></span>
                            </div>
                        </div>
                        <!-- End: schoolName -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Start: schoolGrade  -->
                        <div class="form-group">
                            <div class="input-group  p-has-icon">
                                <input th:field="*{education.course}" type="text" id="school-grade" name="schoolGrade"
                                       placeholder="Smer" class="form-control" aria-required="true"/>
                                <p th:if="${#fields.hasErrors('education.course')}" th:errors="*{education.course}"
                                   class="fa fa-times p-error-text"/>
                                <span class="p-field-cb"></span>
                                <span class="input-group-icon"><i class="fa fa-pencil"></i></span>
                            </div>
                        </div>
                        <!-- End: schoolGrade  -->
                    </div>

                </div>

                <div class="p-subtitle text-center">Poznavanje jezika</div>

				   <span style="display:flex;justify-content: space-between;margin-bottom: 15px;">             				
	                <span class="btn btn-sm" id="removeLanguage"><i class="fa fa-minus"></i> Ukloni</span>
	                <br>
	                <span class="btn btn-sm" id="addLanguage" onclick="addLanguage()"><i class="fa fa-plus"></i> Dodaj jezik</span>
                   </span>
                
                <div id="lang">
                    <div class="row" id="languages">
                        <div class="col-sm-6">
                            <!-- Start: language   -->
                            <div class="form-group">
                                <div class="input-group  p-has-icon">
                                    <input th:field="*{languageList[0].languageName}" type="text" name="name"
                                           placeholder="Jezik" class="form-control" id="languageName"/>
                                    <span class="p-field-cb"></span>
                                    <span class="input-group-icon"><i class="fa fa-flag"></i></span>
                                </div>
                            </div>
                            <!-- End: language  -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Start: language course  -->
                            <div class="form-group">
                                <div class="input-group  p-has-icon">
                                    <input th:field="*{languageList[0].languageLevel}" type="text" name="level"
                                           placeholder="Upisi nivo" class="form-control" id="languageLevel"/>
                                    <span class="p-field-cb"></span>
                                    <span class="input-group-icon"><i class="fa fa-arrow-up"></i></span>
                                </div>
                            </div>
                            <!-- End: language course   -->
                        </div>
                    </div>
                </div>

                <div class="p-subtitle text-center">O sebi</div>

                <!-- Start: message  -->
                <div class="form-group">
                    <div class="input-group  p-has-icon">
                        <textarea placeholder="Sposobnosti i veštine" th:field="*{about}" class="form-control"></textarea>
                        <span class="input-group-state">
                            <span class="p-position">
                                <span class="p-text">
                                    <span class="p-required-text"><i class="fa fa-star"></i></span>
                                </span>
                            </span>
                        </span>
                        <span class="p-field-cb"></span>
                        <span class="input-group-icon"><i class="fa fa-file-text-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group  p-has-icon">
                        <textarea placeholder="Hobi i interesovanja" th:field="*{hobby}" class="form-control"></textarea>
                        <span class="input-group-state">
                            <span class="p-position">
                                <span class="p-text">
                                    <span class="p-required-text"><i class="fa fa-star"></i></span>
                                </span>
                            </span>
                        </span>
                        <span class="p-field-cb"></span>
                        <span class="input-group-icon"><i class="fa fa-file-text-o"></i></span>
                    </div>
                </div>

                <br><br>

                <!--                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" th:field="*{notifyMe}" class="form-check-input" id="exampleCheck1">
                                            <span class="p-check-icon">
                                                        <span class="p-check-block"></span>
                                                    </span>
                                            <span class="p-label">Želim da dobijam ponude i obaveštenja o novim poslovima.
                                                    </span>
                                        </label>
                                    </div>
                                </div>-->

                <div data-js-block="loadingBlockName" class="progress collapse">
                    <div class="progress-bar progress-bar-fp progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
                <div class="p-buttons text-right">
                    <button class="btn" type="submit" name="confirm"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;
                        Posalji CV
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
var count = 0;
function addWorkExperience(){
	document.getElementById('weMinus').setAttribute('style','display:block;');
	var workEx = document.getElementById("workExp-"+count);
	var newWorkEx = workEx.cloneNode(true);

	count++;

	newWorkEx.setAttribute('id',"workExp-"+count);

	var newCompany = document.getElementById('companyName');
	newCompany.setAttribute('name','workExperienceList['+count+'].companyName');
	newCompany.value = '';
	
	var newStartDate = document.getElementById('companyStartDate');
	newStartDate.setAttribute('name','workExperienceList['+count+'].startDate');
	newStartDate.value = '';
	
	var newEndDate = document.getElementById('companyEndDate');
	newEndDate.setAttribute('name','workExperienceList['+count+'].endDate');
	newEndDate.value = '';
	
	var newDescription = document.getElementById('companyDescription');
	newDescription.setAttribute('name','workExperienceList['+count+'].description');
	newDescription.value = '';
	
	document.getElementById("WE").appendChild(newWorkEx);

//	workEx.parentNode.insertBefore(newWorkEx, workEx);
	
	newWorkEx.replaceChild(newCompany, newWorkEx.querySelector('#companyName'));
	newWorkEx.replaceChild(newStartDate, newWorkEx.querySelector('#companyStartDate'));
	newWorkEx.replaceChild(newEndDate, newWorkEx.querySelector('#companyEndDate'));
	newWorkEx.replaceChild(newDescription, newWorkEx.querySelector('#companyDescription'));
		
// 	var parentNode = document.getElementById("WE");
	
// 	newWorkEx.parentNode.appendChild(newWorkEx, workEx.nextSibling);
}

function removeWorkExperience(){
	var workEx = document.getElementById("workExp-"+count);
	count--;
	workEx.parentNode.removeChild(workEx);
	if(count === 0){
		document.getElementById('weMinus').setAttribute('style','display:none;');
		return -1;
	}	
}
</script>
<script type="text/javascript">
var count = 0;
function addLanguage(){
	count++;
	var languages = document.getElementById('languages');
	var newLanguages = languages.cloneNode(true);
	
	var newLanguageName = document.getElementById('languageName');
	newLanguageName.setAttribute('name','languageList['+count+'].languageName');
	newLanguageName.value='';
	
	var newLanguageLevel = document.getElementById('languageLevel');
	newLanguageLevel.setAttribute('name','languageList['+count+'].languageLevel');
	newLanguageLevel.value='';
	
//	referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
	
//	var parentNode = document.getElementById("lang");
	
//	languages.parentNode.insertBefore(newLanguages, languages);
	document.getElementById('lang').appendChild(newLanguages);
	
	newLanguages.replaceChild(newLanguageName, languageName);
	newLanguages.replaceChild(newLanguageLevel, languageLevel);
	

	
}
</script>
<script src="./js/jquery.js" type="text/javascript"></script>
<!-- jquery ui -->
<script src="./js/jquery-ui/js/core.js"></script>
<script src="./js/jquery-ui/js/widget.js"></script>
<script src="./js/jquery-ui/js/mouse.js"></script>
<script src="./js/jquery-ui/js/position.js"></script>
<script src="./js/jquery-ui/js/menu.js"></script>
<script src="./js/jquery-ui/js/autocomplete.js"></script>
<script src="./js/jquery-ui/js/slider.js"></script>
<script src="./js/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<!-- Helpers -->
<script src="./js/moment/moment.js"></script>
<script src="./js/moment/locale/da.js"></script>
<!-- Validation plugin -->
<script src="./js/jquery-validation/jquery.validate.js"></script>
<script src="./js/jquery-validation/additional-methods.js"></script>
<!-- Field mask plugin -->
<script src="./js/jquery-masked-input/jquery.maskedinput.js"></script>
<!-- Bootstrap datetimepicker -->
<script src="./js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<!-- captcha: Realperson plugin -->
<script src="./js/jquery-realperson/jquery.plugin.js"></script>
<script src="./js/jquery-realperson/jquery.realperson.js"></script>
<!-- colorpicker: Spectrum plugin -->
<script src="./js/spectrum/spectrum.js"></script>
<!-- ajax: jQuery Form Plugin -->
<script src="./js/jquery-form-plugin/jquery.form.js"></script>
<!-- Forms Plus plugins/helpers -->
<script src="./js/forms-plus/forms-plus.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-value.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-field.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-file.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-spinner.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-validation.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-block.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-elements.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-sub-selection.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-gelements.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-slider.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-autocomplete.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-ajax.js" type="text/javascript"></script>
<script src="./js/forms-plus/forms-plus-steps.js" type="text/javascript"></script>
<!-- Forms Plus init -->
<script src="./js/script.js"></script>
</body>
</html>