<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Uspesno poslat CV</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
        <link href="./font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="./bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- colorpicker: Spectrum plugin -->
        <link href="./js/spectrum/spectrum.css" rel="stylesheet" type="text/css">
        <!-- Bootstrap datetimepicker -->
        <link href="./js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
        <link href="./js/jquery-ui/css/core.css" rel="stylesheet" type="text/css">
        <!-- Autocomplete -->
        <link href="./js/jquery-ui/css/menu.css" rel="stylesheet" type="text/css">
        <link href="./js/jquery-ui/css/autocomplete.css" rel="stylesheet" type="text/css">
        <link href="./css/forms-plus.css" rel="stylesheet" type="text/css">
        <!-- Color style: remove or change to change coloring -->
        <link href="./css/color/forms-plus-extra2color2.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for background (<1-6>.jpg), remove if not needed -->
        <link href="./css/custom-styles.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="display: flex;justify-content: center;align-items: center;">
        <div class="container">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            <!-- Start: roundDark skin - Autocomplete -->
            <form method="post" class="roundDark-p-form p-form-roundDark-extra2color2" >
                <div class="p-form p-shadowed p-form-sm">
                    <!-- Start: title -->
                    <div class="p-title" style="display: flex;justify-content: center;">Uspešno ste popunili CV&nbsp;&nbsp;<i class="fa fa-flag"></i></div>
                    <!-- End: title -->
                    
                    <div class="panel-body" style="display: flex; justify-content: center;">
                           
                           <a href="https://www.facebook.com/groups/438329853412480/?ref=share" class="btn p-social-btn"><i class="fab fa-facebook"></i></a>
                           <a class="col-sm-1"></a>
                           <a href="https://invite.viber.com/?g2=AQBu%2BS5zH%2FOvJEtjJmWIQyApWOqXVYdHBP8yHLf%2BVx1EBNi%2BG8ejTUy5d5No3xvz" class="btn p-social-btn"><i class="fab fa-viber"></i></a>
                         </div>
                  
            
                </div>
            </form>
            <!-- End: roundDark skin - Autocomplete -->
        </div>

    </body>
</html>